html,
body {
  height: 100%; }

.top-nav {
  background: #00A6A6;
  width: 100%;
  height: 48px; }
  .top-nav .logo {
    float: left;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 4px; }
    .top-nav .logo img {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      height: 100%; }
  .top-nav h3 {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    margin-left: 10px;
    color: wheat; }
  .top-nav .nav {
    float: right;
    margin-top: 4px;
    margin-right: 4px; }
    .top-nav .nav li a {
      color: white; }
      .top-nav .nav li a:hover {
        background-color: #337AB7; }

.left-sidebar {
  position: absolute;
  width: 300px;
  height: 100%;
  background: black; }
  .left-sidebar .media {
    padding: 10px 5px;
    color: white; }
    .left-sidebar .media .media-left a img {
      width: 60px;
      height: 60px;
      border-radius: 50%; }
    .left-sidebar .media .media-body {
      padding-top: 8px; }
  .left-sidebar .menu {
    margin-top: 20px; }
    .left-sidebar .menu .list-group button {
      padding-left: 20px; }
      .left-sidebar .menu .list-group button span {
        margin-right: 10px; }
    .left-sidebar .menu .list-group button.my-active {
      background: #00A6A6; }

.right-content {
  position: absolute;
  width: 100%;
  min-height: 800px;
  margin-left: 300px;
  background: skyblue; }
